{% extends "base.html" %}
{% load urlify %}

{% block head_title %}{{ post.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
{% include "partials/splash_screen.html" %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                    From the Firehose
                </h3>
                
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p class="blog-post-meta">{{ post.timestamp }} - January 1, 2014 by <a href="#">Mark</a></p>

                    <!-- Shareable links -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Share on Facebook</a> |
                    <a href="https://www.twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">Share on Twitter</a> |

                    <a href="https://www.twitter.com/home?status={{ post.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">Share on Twitter with Filter Option</a>

                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-responsive" alt="">                    
                    {% endif %}
        
                    <p>{{ post.content|linebreaks }}</p>                    
                </div><!-- /.blog-post -->
        
                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Previous</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Next</a>
                </nav>

                <a href="/posts/">Back</a>
            </div><!-- /.blog-main -->

            {% include "partials/aside.html" %}

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock content %}